@import "../utils/variables";

.history{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__item{
        display: flex;
        flex-direction: column;
        }
    }


.history__item img{
    border-radius: 50% ;
    box-shadow: 0 0 8px 8px white inset;
}