@import "../utils/variables";
@import "../utils/mixins";
body{
  background-color: $color-background1;
  overflow-x: hidden;
}
#invitation{
  background-image:url("fond.webp");
  background-size: cover;
  padding: 2%;
}
.all_ceremonies {
  
  display: flex;
  justify-content: space-around;
 @include tablet{
  flex-direction: column;
  
 }};
  
 
label{
  font-weight: bold;
}

p {
  font-family: $font-secondary;
  font-weight: bolder;
}

.intro{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h2, p{
  font-family: $font-secondary;
  font-weight: bolder;
  color: $color-font2;
}

