@import "../utils/variables";

.all_ceremonies {
  background-image: url("https://img.freepik.com/vecteurs-premium/fond-peinture-aquarelle-papillon-floral_108834-801.jpg");
  display: flex;
  justify-content: space-around;
  background-size: cover;
}

p {
  font-family: $font-secondary;
  font-weight: bolder;
}

.intro{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}