@import "../utils/variables";

.all_ceremonies{
    background-image: url('https://media.istockphoto.com/id/1136461807/photo/stylized-delicate-background-with-small-flowers.webp?b=1&s=170667a&w=0&k=20&c=P4pD_hEWvl-IkJzuIFIWB2Bx0H69HkKoeZiF9N93lEQ=');
display: flex;
justify-content: space-around;
background-size: cover;
}