
  $font-primary: "Great Vibes";
  $font-secondary: "Raleway";

  $color-font-title:rgb(139,117, 106);

  $backgroundImage: "../../background.jpg";
  $color-background1: rgb(252,247,235);
  $color-background2: rgb(248,247,241);
  $color-font: rgb(156,138,33);