@import '../utils/variables';

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('https://media.istockphoto.com/id/1136461807/photo/stylized-delicate-background-with-small-flowers.webp?b=1&s=170667a&w=0&k=20&c=P4pD_hEWvl-IkJzuIFIWB2Bx0H69HkKoeZiF9N93lEQ=');
    background-size: cover;
// background-repeat: no-repeat;
 }    

.logo{
    width: 11%;
}

h1{
    font-family: $font-primary;
}