@import '../utils/variables';

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('https://img.freepik.com/vecteurs-premium/fond-peinture-aquarelle-papillon-floral_108834-801.jpg');
    background-size:cover;

// background-repeat: no-repeat;
 }    

.logo{
    width: 11%;
}

h1{
    font-family: $font-primary;
    color: $color-font-title;
    text-align: center;
    font-size: 50px;
}