.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: $font-secondary;
    position: absolute;
    top: 0;
    margin-left: 70%;
  
&__global{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
&__item{
    margin:2%;
    padding-right: 2%;
}
}

a{
    text-decoration: none;
    padding-right: 3%;
    color: $color-font;
    font-weight: bolder;
}

.nav__global {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav__item {
    margin-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .nav__global {
      display: none;
      flex-direction: column;
    }
  
    .nav__global.active {
      display: flex;
    }
  }
  