.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  
&__global{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
&__item{
    margin:2%;
}
}

a{
    text-decoration: none;
}