@import "../utils/variables";

.button-submit{
    margin: 4%;
    margin-left: 19%;
    padding: 3%;
    background: $color-shadow;
    border-radius: 15px;
    font-family: $font-primary;
    font-weight: bold;
    font-size: 30px;
    width: 300px;

}