.timer{
    background: #ddd;
    border: 1px solid #ddd;
    display: flex;
    &__entier{
        display: flex;
        flex-direction: row;
        
    }
    &__item{
        padding: 2%;
    }
}
