@charset "UTF-8";
.all_ceremonies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  font-family: "Raleway";
}

.ceremonie, .ceremonie_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
  margin-top: 1%;
  margin-bottom: 1%;
}
@media screen and (max-width: 850px) {
  .ceremonie, .ceremonie_box {
    margin-top: 2%;
  }
}
@media screen and (max-width: 1023px) {
  .ceremonie, .ceremonie_box {
    margin-top: 2%;
  }
}

@media screen and (min-width: 2200px) {
  #invitation {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer__entier {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 243, 226);
}

.timer__item {
  position: relative;
  margin: 0 5px;
}

.timer__item:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(255, 243, 226);
  transform-origin: top;
  transform: perspective(800px) rotateX(0deg);
  transition: transform 0.5s ease;
}

.timer__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(255, 243, 226);
  transform-origin: bottom;
  transform: perspective(800px) rotateX(0deg);
  transition: transform 0.5s ease;
}

.timer__item.active:before {
  transform: perspective(800px) rotateX(-90deg);
}

.timer__item.active:after {
  transform: perspective(800px) rotateX(90deg);
}

.timer__digit {
  font-size: 48px;
  font-weight: bold;
  color: rgb(210, 149, 0);
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 243, 226);
}

.timer__separator {
  font-size: 48px;
  font-weight: bold;
  color: rgb(210, 149, 0);
}

.button-submit {
  margin: 4%;
  margin-left: 19%;
  padding: 3%;
  background: rgb(255, 206, 91);
  border-radius: 15px;
  font-family: "Great Vibes";
  font-weight: bold;
  font-size: 30px;
  width: 300px;
}
@media screen and (max-width: 850px) {
  .button-submit {
    width: 210px;
    margin-left: 2%;
  }
}
.button-submit:hover {
  background: rgb(210, 149, 0);
  cursor: pointer;
}
.button-submit:active {
  background: rgb(170, 119, 0);
  transform: scale(0.95);
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  align-items: center;
  font-family: "Raleway";
  font-weight: bolder;
}
@media screen and (max-width: 850px) {
  .form {
    margin-left: 30%;
  }
}
@media screen and (max-width: 1023px) {
  .form {
    margin-left: 10%;
  }
}
@media screen and (min-width: 1368px) {
  .form {
    margin-left: 2%;
  }
}

.form__item,
input,
select,
textarea {
  padding-bottom: 2%;
}
@media screen and (max-width: 1368px) {
  .form__item,
  input,
  select,
  textarea {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .form__item,
  input,
  select,
  textarea {
    padding-bottom: 1%;
  }
}

.form_evening {
  margin-top: 2%;
  margin-bottom: 2%;
}
@media screen and (max-width: 850px) {
  .form_evening {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

label {
  display: block;
  float: left;
  width: 300px;
  margin-top: 2%;
}

.checkbox {
  display: inline;
  float: none;
}

input,
select {
  border-radius: 50px;
  padding: 10px;
}

textarea {
  border-radius: 28px;
  padding: 3%;
  padding: 2%;
}
@media screen and (max-width: 850px) {
  textarea {
    padding: 1.5%;
  }
}

.number {
  padding-left: 4%;
  width: 280px;
}
@media screen and (max-width: 850px) {
  .number {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .form-mairie,
  .form-soir,
  .syna {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 8%;
}

@media screen and (max-width: 850px) {
  .checkbox {
    margin-right: 5px;
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 850px) {
  .checkbox-group .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 3px; /* Ajustez la marge inférieure selon vos besoins */
  }
}

@media screen and (max-width: 850px) {
  .checkbox-group input[type=checkbox] {
    margin-right: -63%; /* Ajustez la marge droite selon vos besoins */
  }
}

.header {
  flex-direction: row;
  background-image: url("https://img.freepik.com/vecteurs-premium/fond-peinture-aquarelle-papillon-floral_108834-801.jpg");
  background-size: cover;
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
@media screen and (max-width: 1023px) {
  .header__logo {
    align-items: center;
  }
}

.logo {
  margin-top: 2%;
  width: 11%;
  filter: drop-shadow(10px 6px 4px rgb(255, 206, 91));
}
@media screen and (max-width: 1023px) {
  .logo {
    width: 20%;
  }
}
@media screen and (max-width: 850px) {
  .logo {
    width: 20%;
  }
}

h1 {
  font-family: "Great Vibes";
  color: rgb(210, 149, 0);
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  text-shadow: 2px 2px 2px rgb(255, 206, 91);
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 36px;
    margin-top: 5px;
  }
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2%;
  background-image: url("https://img.freepik.com/vecteurs-premium/fond-peinture-aquarelle-papillon-floral_108834-801.jpg");
  background-size: cover;
}
.contact__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .contact__detail {
    width: 95%;
  }
}
@media screen and (max-width: 850px) {
  .contact__detail {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

h2, .pfooter {
  margin-bottom: 1%;
  margin-top: 1%;
}

body {
  background-color: rgb(255, 243, 226);
  overflow-x: hidden;
}

#invitation {
  background-image: url("fond.webp");
  background-size: cover;
  padding: 2%;
}

.all_ceremonies {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1023px) {
  .all_ceremonies {
    flex-direction: column;
  }
}

label {
  font-weight: bold;
}

p {
  font-family: "Raleway";
  font-weight: bolder;
}

.intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

h2, p {
  font-family: "Raleway";
  font-weight: bolder;
  color: rgb(170, 119, 0);
}

/* Styles pour le conteneur global */
.history-container {
  text-align: center;
  padding: 2px;
}

/* Styles pour le conteneur du carrousel */
.carousel-container {
  margin-top: 2px;
}

/* Définissez les styles pour chaque diapositive */
.slide {
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 243, 226);
}

.slide img {
  max-width: 100%;
  max-height: 90%;
  object-fit: contain;
}

.slide-caption {
  margin-top: 10px;
  text-align: center;
}

/* Styles pour les boutons du carrousel */
.carousel-button {
  /* ... Vos autres styles ... */
  margin-top: 2px; /* Réduire l'espace au-dessus des images */
}

/* Réduire l'espace entre l'image et les flèches */
.carousel-container {
  margin-top: 2px; /* Ajustez cette valeur selon vos besoins */
  height: 60%;
}

/* Réduire l'espace entre l'image et les points (miniatures) */
.DotGroup {
  margin-top: 2px; /* Ajustez cette valeur selon vos besoins */
}

.arrow {
  background: rgb(255, 206, 91);
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
