.all_ceremonies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  font-family: "Raleway";
}

.ceremonie, .ceremonie_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer__entier {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 243, 226);
}

.timer__item {
  position: relative;
  margin: 0 5px;
}

.timer__item:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(255, 243, 226);
  transform-origin: top;
  transform: perspective(800px) rotateX(0deg);
  transition: transform 0.5s ease;
}

.timer__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(255, 243, 226);
  transform-origin: bottom;
  transform: perspective(800px) rotateX(0deg);
  transition: transform 0.5s ease;
}

.timer__item.active:before {
  transform: perspective(800px) rotateX(-90deg);
}

.timer__item.active:after {
  transform: perspective(800px) rotateX(90deg);
}

.timer__digit {
  font-size: 48px;
  font-weight: bold;
  color: rgb(210, 149, 0);
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 243, 226);
}

.timer__separator {
  font-size: 48px;
  font-weight: bold;
  color: rgb(210, 149, 0);
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  align-items: center;
  font-family: "Raleway";
  font-weight: bolder;
}

.form__item, input {
  padding-bottom: 2%;
}

.form_evening {
  margin-top: 2%;
  margin-bottom: 2%;
}

label {
  display: block;
  float: left;
  width: 300px;
  margin-top: 2%;
}

.checkbox {
  display: inline;
  float: none;
}

input, select {
  border-radius: 50px;
  padding: 10px;
}

textarea {
  border-radius: 28px;
  padding: 3%;
  padding: 2%;
}

.number {
  padding-left: 4%;
  width: 280px;
}

.button-submit {
  margin: 4%;
  margin-left: 19%;
  padding: 3%;
  background: rgb(255, 243, 226);
  border-radius: 15px;
  font-family: "Great Vibes";
  font-weight: bold;
  font-size: 30px;
  width: 300px;
}

.header {
  flex-direction: row;
  background-image: url("https://img.freepik.com/vecteurs-premium/fond-peinture-aquarelle-papillon-floral_108834-801.jpg");
  background-size: cover;
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.logo {
  margin-top: 2%;
  width: 11%;
}

h1 {
  font-family: "Great Vibes";
  color: rgb(210, 149, 0);
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Raleway";
  position: absolute;
  top: 0;
  margin-left: 70%;
}
.nav__global {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.nav__item {
  margin: 2%;
  padding-right: 2%;
}

a {
  text-decoration: none;
  padding-right: 3%;
  color: rgb(187, 131, 0);
  font-weight: bolder;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2%;
  background-image: url("https://img.freepik.com/vecteurs-premium/fond-peinture-aquarelle-papillon-floral_108834-801.jpg");
  background-size: cover;
}
.contact__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  text-align: center;
}

body {
  background-color: rgb(255, 243, 226);
  overflow-x: hidden;
}

#invitation {
  background-image: url("fond.png");
  background-size: cover;
  padding: 2%;
}

.all_ceremonies {
  display: flex;
  justify-content: space-around;
}

p {
  font-family: "Raleway";
  font-weight: bolder;
}

.intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

h2, p {
  font-family: "Raleway";
  font-weight: bolder;
  color: rgb(170, 119, 0);
}

.history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px rgb(210, 149, 0);
  box-shadow: 5px 3px 3px rgb(255, 206, 91);
  margin-bottom: 3%;
}
.history__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history__legend {
  width: 60%;
}

/*# sourceMappingURL=main.css.map */
